body {
  background-color: rgb(226, 213, 213);

}
.raghid {
      border-radius: 50%;
      padding: 0px;
      margin: auto;
      display: flex;

}
a:hover {
  color: #e8dde0;
  text-decoration: none;
}
/* selected link */
a:active {
  color: #e8dde0;
  text-decoration: none;
}
.circle {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
justify-content: center;
align-items: center;
height: 100px;

}

.card-white {
background-color:#f5ebe0;
border-radius: 20px;
flex-direction: column;
justify-content: center;
margin: 20px ;
padding: 50px;
width: 1000px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
padding: 40px;
margin-left: 100px;
margin-right: 150px;
}

p{
  font-family: Utile Display;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: .2px;
  }

h1 {
  margin-top: 25px;
  text-align: center;
  font-family: "benz", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 70px;
  line-height: 5rem;
  font-weight: 700;
  letter-spacing: -.03em;
  color: #191919;
}

.btn-blue {
    background-color: #45598C;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    display: block;
    height: 20px;
    position: relative;
    margin: 0 auto;
   }


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-blue:hover {
   color: white;
   background-color: black;
 }

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h2 {
  margin-top: 25px;
  text-align: center;
  font-family: "benz", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 700;
  letter-spacing: -.03em;
  color: #191919;
}

.black {
  background-color: whitesmoke;
}
.container {
  margin-left: 50px;
  margin-right: 50px;
}

.circle {
width: 200px;
height: 200px;
border-radius: 50%;
background-color: #ccc;
display: flex;
justify-content: left;
align-items: left;
}

.circle img {
max-width: 100%;
max-height: 100%;
border-radius: 50%;
}

h2 {
color: black;
text-align: justify;
font-size: 34px;
}

.card-white #social-icons {
  font-size: 200px;
  color: black;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
